component: {{component_name}}
description: "{{component_description}}"

opensearch:
  endpoint: {{opensearch_endpoint}}
  index_pattern: {{opensearch_index_pattern}}
  verify_certs: true

prometheus:
  endpoint: {{prometheus_endpoint}}
  namespace: {{prometheus_namespace}}
